/* .Icon {
  width: 30px;
  margin-right: 15px;
  margin-bottom: 5px;
  display: inline;
}

.team-card {
  display: block;
  border-width: 1px;
  border: 1px solid black;
  max-width: 100%;
}

.clubtitle {
  position: relative;
  display: block;
}

.Teambutton {
  justify-content: flex-start;
} */