.Icon {
  width: 30px;
  margin-right: 15px;
  margin-bottom: 5px;
  /* justify-content: center; */

}


.team-card {
  display: blockl;
  display: block;
  border-width: 1px;
  border: 1px solid black;
  max-width: 100%;
}

.clubtitle {
  position: relative;
  display: block;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.Teambutton {
  justify-content: flex-start;
}

.Icon {
  display: inline;
}