.App {
  text-align: center;
}

.Icon {
  width: 30px;
  margin-right: 15px;
  margin-bottom: 5px;
  justify-content: left;

}

.Teambadge {
  width: 70px;
}

.clubs-page {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;


}

.team-card {
  display: blockl;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  display: block;
  background-color: grey;
}

.clubtitle {
  position: relative;
  display: block;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.Icon {
  display: inline;
}